<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add News Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="jslibs/jquery331min.js"></script>
</head>
<body>
    正文：<br>
    <textarea rows = "4" cols="60" id = "content"></textarea><br>
    消息来源：<br>
    <input type="text" id="source"/><br>
    标签：<br>
    <input type="text" id="labels"/><br>
    外语原文：<br>
    <input type="text" id="originLang"/><br>
    实际时间：<br>
    <input type="text" id="actualTime"/><br>
    上传时间：<br>
    <input type="text" id="postTime"/><br>
    <button id="submitButton">提交</button>
    <script type = "text/javascript">
        $(document).ready(function () {

            $("#submitButton").click(function () {
                var npdata = {"content":$("#content").val(), "source":$("#source").val(), "labels":$("#labels").val(),
                    "originLang":$("#originLang").val(), "actualTime":$("#actualTime").val(), "postTime":$("#postTime").val()};
                $.ajax(
                    {
                        type: "POST",
                        url: "/news",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(npdata),
                        success: function (data) {
                            alert(data);
                        }
                    }
                );
            });
        });
    </script>
</body>
</html>